@font-face {
font-family: 'Pattaya';
font-style: normal;
font-weight: 300;
src: local('Pattaya'), local('Pattaya'), url('../fonts/Pattaya-Regular.woff') format('woff');
}

@font-face {
font-family: 'PT Sans';
font-style: normal;
font-weight: 300;
src: local('PT Sans'), local('PT Sans'), url('../fonts/PT_Sans-Web-Regular.woff') format('woff');
}

@font-face {
font-family: 'RobotoSlab';
font-style: normal;
font-weight: 300;
src: local('RobotoSlab'), local('RobotoSlab'), url('../fonts/RobotoSlab-Bold.woff') format('woff');
}

ul.pagination {
	margin: 0px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

html{
	font-family: 'PT Sans';
	height: 100px;
}

body{
	background-image: url('../img/background.png');
	overflow-y: scroll;
}

a.navbar-brands.active{
	font-size: medium !important;
}

input#excel{
	border: 1px solid #d3e0e9;
	border-radius: 5px;
	padding: 5px;
}

.m-b-md {
	margin-bottom: 15px;
	font-family: 'RobotoSlab';
	text-align: center;
	color: white;
}

.title{
	font-size: 30px;
}

.navbar-brand{
	color: #05386B;
}

#active{
	color: rgb(66, 157, 209);
}

#flat{
	border-color: #fff;
}

#flat-search{
	border: none;
	border-radius: 0px;
}

.search-custom{
	border-radius: 0px;
	box-shadow: none;
}

.tab-pane{
	padding-top: 30px;
}
